.homePage{
  margin-left: 12%;
  margin-right: 12%;
  width: 76%;
}
.homepage-image-slider{
  margin-top: 22px;
}
.homepage-categories{
  margin-top: 40px;
}
.homepage-all-products{
  margin-top: 72px;
}